.home {
    background: #E8E8E8;
    height: 80vh;
}

.content {
    margin: 150px 0 0 100px;
}

.content p {
    font-size: 17px;
    font-weight: 500;
}

.content .shop-btn {
    margin-top: 8px;
    padding: 10px 20px;
    background: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.image {
    width: 300px;
    margin: 100px 0 0 200px;
}

.image img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 50px 0 0 10px;
    } 

    .content h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 17px;
    }

    .content .shop-btn {
        margin: 8px 100px;
        padding: 8px 15px;
    }

}