.home {
    background: #E8E8E8;
    height: 80vh;
}

.home .content {
    margin: 150px 0 0 100px;
}

.home .content p {
    font-size: 17px;
    font-weight: 500;
}

.home .content .shop-btn {
    margin-top: 8px;
    padding: 10px 20px;
    background: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.home .image {
    width: 300px;
    margin: 100px 0 0 200px;
}

.home .image img {
    width: 100%;
}

.features {
    padding: 100px 100px;
}

.features .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.title-txt {
    color: #111;
    font-size: 40px;
    font-weight: 600;
}

.title-txt span {
    color: #C8830A;
    font-weight: 700;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title p {
    font-weight: 500;
}

.categories .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.latest-products {
    padding: 100px 100px;
}

.latest-products .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.home-products {
    padding: 0px 100px 0px 100px;
}

.home-products .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.see-all-btn {
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    color: #fff;
    background: black;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 50px 0;
        padding: 20px;
        text-align: center;
    }

    .content h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .content p {
        font-size: 16px;
    }

    .content .shop-btn {
        margin: 8px 100px;
        padding: 8px 15px;
        font-weight: 500;
    }

    .image img {
        display: none;
    }

    .features {
        padding: 100px 0px 0px 0px;
    }

    .title-txt {
        font-size: 30px;
    }

    .title p {
        text-align: center;
        padding: 0 20px;
    }

    .latest-products {
        padding: 0  20px;
    }

    .home-products {
        padding: 0px 20px 0px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .home .content {
        margin: 50px auto;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .image img {
        display: none;
    }
}