.products {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

.products-card {
    margin: 50px auto;
    width: 1100px;
}

.btn-add {
    float: right
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 768px) {
    .products-card {
        margin: 50px auto;
        width: 100%;
    }
}