.details-img {
    width: 250px;
}

.btn {
    font-size: 13px;
    font-weight: 600;
    border-radius: 7px;
    color: #fff;
    background: #eab800;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.btn:hover {
    background: #c19800;
}

.p-container {
    margin-top: 80px;
}

p {
    font-size: 20px;
}

.product-details-title {
    font-weight: bold;
}

.quantity-toggle {
    display: flex;
}

.quantity-toggle input {
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    width: 2.5rem;
    text-align: center;
    padding: 0 0.5rem;
}

.quantity-toggle button {
    border: 0;
    padding: 0.2rem;
    background: #eab800;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* @media only screen and (max-width: 800px) {
      .container {
          margin: 120px auto;
      }
      .details-img {
          height: 200px;
          margin-left: 55px;
      }
      p {
          font-size: 16px;
      }
      .btn {
          font-size: 10px;
          padding: 8px 20px;
          margin-left: 55px;
      }
      .quantity-toggle {
          justify-content: center;
          margin-top: 30px;
      }
  } */