.shop {
    margin-top: 150px;
    padding: 0px 100px;
}

.shop .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media only screen and (max-width: 800px) {
    .shop {
        margin-top: 100px;
        padding: 0px 20px;
    }
}